<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>movie</title>
</head>
<body>
  <h1>欢迎：<%=name%> 的登录</h1>
  <h4>首<span style="font-size:30px">氪</span>有惊喜哦</h4>
  <img src="/images/pay.png" height="500px">
</body>
</html>